*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  @include font-size($h1-font-size);
}

h2 {
  @include font-size($h2-font-size);
}

h3 {
  @include font-size($h3-font-size);
}

h4 {
  @include font-size($h4-font-size);
}

h5 {
  @include font-size($h5-font-size);
}

h6 {
  @include font-size($h6-font-size);
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}




label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}


button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  &:disabled {
    opacity: 1;
  }
}

[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
  display: none !important;
}


::-moz-focus-inner {
  padding: 0;
  border-style: none;
}


output {
  display: inline-block;
}


iframe {
  border: 0;
}


progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}
